@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=Merienda:wght@700&display=swap');

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
}

.title {
    margin-bottom: 0;
    -webkit-text-stroke: 1px black;
    color: white;
    font-size: 6vw;
    letter-spacing: 1px;
}

.description {
    margin: 0;
    font-size: 1.5vw;
    text-align: end;
}

.dragTip {
    transform: rotate(-10deg) translateY(-1vh) translateX(-6vw);
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 10vw;
    }
    .description {
        font-size: 3vw;
    }
    .dragTip {
        font-size: 1.5vw;
    }
}