.tag {
    border: 1px solid black;
    font-size: 0.3rem;
    position: relative;
    z-index: 2;
    margin-top: -100%;
    margin-bottom: 100%;
    margin-right: 10px;
    background-color: white;
}

.image {
    height: fit-content !important;
    width: 30% !important;
}

.projectCard {
    flex-basis: 33%;
    background-color: #E1DDDF;
    position: relative !important;
}

.description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}