.tag {
    border: 1px solid black;
    font-size: 0.3rem;
    position: relative;
    z-index: 2;
    margin-top: -50px;
}

.image {
    height: fit-content !important;
    width: 30% !important;
}

.projectCard {
    flex-basis: 33%;
    background-color: #E1DDDF;
    position: relative !important;
}